    <div>{{! footer}}
      {{#show-meta}}
      <div class="post-meta">
        <span title="post date" class="post-info">{{{date}}}</span>
        <span title="last modification date" class="post-info">{{mod-date}}</span>
        <span title="tags" class="post-info">{{{tag-links}}}</span>
        <span title="author" class="post-info">{{author}}</span>
      </div>
      {{/show-meta}}
      {{#show-comment}}
      <section>
        <h1>Comments</h1>
        {{#disqus-comment}}
        <div id="disqus_thread"></div>
        <script type="text/javascript">
          //var disqus_developer = 1;
          var disqus_identifier = "{{disqus-id}}";
          var disqus_url = "{{disqus-url}}";
          var disqus_shortname = '{{disqus-shortname}}';

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        {{/disqus-comment}}
        {{#duoshuo-comment}}
        <div class="ds-thread"></div>
        <script type="text/javascript">
          var duoshuoQuery = {short_name:'{{duoshuo-shortname}}'};
          (function() {
          var ds = document.createElement('script');
          ds.type = 'text/javascript';ds.async = true;
          ds.src = 'http://static.duoshuo.com/embed.js';
          ds.charset = 'UTF-8';
          (document.getElementsByTagName('head')[0]
          || document.getElementsByTagName('body')[0]).appendChild(ds);
          })();
        </script>
        {{/duoshuo-comment}}
      </section>
      {{/show-comment}}
      <script src="https://code.jquery.com/jquery-latest.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.js"></script>
      <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
      <script src="/media/js/main.js"></script>
      {{#google-analytics}}
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{google-analytics-id}}']);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
      {{/google-analytics}}
      <div class="footer">
        <p>Generated by {{{creator-info}}}</p>
        <p>
          Copyright &copy; <span id="footerYear"></span> <a href="mailto:{{email}}">{{author}}</a>
          &nbsp;&nbsp;-&nbsp;&nbsp;
          Powered by <a href="https://github.com/tumashu/org-webpage" target="_blank">org-webpage</a>
          <script type="text/javascript">document.getElementById("footerYear").innerHTML = (new Date()).getFullYear();</script>
        </p>
      </div>
    </div>
